* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,label,p, h2,h3 {
  color: #faf9f8
}

#hrefLogin{
  color:#b9b6b4;
}

.flashes,.flashes li,.success-message,h1,h3,p {
  text-align: center
}

body {
  font-family: Arial,sans-serif;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #96b6c5;
  background-image: url("./background.png");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

.container {
  width: 25vw;
  height: 80vh;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #10263ce7;
  border: solid 1.5px black;
  box-shadow: 0 7px 10px rgba(0, 0.2, 0.4, 0.8); 

}

.login-container{
   width: 25vw;
   height: 80vh;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  background-color: #10263ce7;
  display: flex;
  flex-direction: column;
  justify-content: center;
   border: solid 1.5px black;
  border-radius: 5px;
  box-shadow: 0 7px 10px rgba(0, 0.2, 0.4, 0.8); 
}

.login-container:hover {
  transform: translateY(-4px); /* Move the card 4px upwards on hover */
}

#registerCon{
  height: 90vh;
}

.success-message,form,h1,table {
  margin-bottom: 20px
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-message {
  background-color: #61d174e9;
  color: #f1f3f1;
  border-radius: 8px;
  overflow-x: auto;
}

#success-message{
  font-size: 16px;
}

h1 {
  font-size: 24px
}

label {
  font-weight: 700
}

input,select,td,th {
  border: 1px solid #ccc
}

button, input:not([type="checkbox"]), select {
  width: 100%;
  border-radius: 4px;
}

input,select {
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box
}

button {
  padding: 10px 20px;
  background-color: #252320;
  color: #fff;
  border: 0;
  cursor: pointer
}

button:hover {
  background-color: #5b574c
}

p a {
  color: #010574;
  text-decoration: none
}

p a:hover {
  text-decoration: underline
}

  .flashes {
    background-color: #ffdddd;
    color: #900;
    border: 1px solid #900;
    padding: 2px;
    margin-top: 0px;
    border-radius: 5px;
    font-size: 14px;
}

.flashes li {
  color: rgb(170, 33, 33);
  display: block;
  margin-bottom: 0.5px;
  width: 100%
}

.sectors-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  font-size: 0.85rem;
}

.checkbox {
  display: flex;
  align-items: center
}

.checkbox input {
  margin-right: 10px
}

.alert-danger {
  background-color: #f2dede;
  color: #a94442;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: center
}

table {
  width: 100%;
  border-collapse: collapse
}

td,th {
  padding: 8px;
  text-align: left
}

th {
  background-color: #4caf50;
  color: #fff
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.client-container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #10263ce7;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  border: solid 1.5px black;
  border-radius: 5px;
  box-shadow: 0 7px 10px rgba(0, 0.2, 0.4, 0.8); 
}